
body{
  background: #e6f5fc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #f7fcfe, #e6f5fc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #f7fcfe, #e6f5fc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #f7fcfe, #e6f5fc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #f7fcfe, #e6f5fc); /* Standard syntax */
}

header {
      background: hsl(199,80%,88%);
}
li.nav-extend-menu{background: hsl(199,80%,88%);}
nav ul li.nav-extend-menu:hover,nav ul li.nav-extend-menu:focus{background: hsl(199,80%,88%);}
.team {
    margin-bottom: 5%;
}

.box{
  /*float:left;*/
  display: inline-block;
  height: 340px;
  width: 245px;
  margin: 14px 28px 0 14px;
  background-color: white;
  transition: all 0.3s;

}

figcaption {
    margin-top: 5px;
    font-family: 'Source Serif Pro', Times, serif;
}

figcaption.name {
    font-weight: bold;
    font-size: 1.5em;
}



.team div img{
  width:80%;
  height:80%;
  padding-top: 10%;
}

.team div figure{
  width: 91%;
  height: 85%;
  padding-top: 3%;
}

.box:hover,
.box:focus{
    box-shadow: 0 4px 8px 2px hsla(0, 0%, 70%, .6);
    transform: scale(0.9);
}

section{
    /*width: 68%;
    margin: 0 auto;*/
    text-align: center;
    overflow: auto;
    width: 67%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    display: block;
    width: 60%;
    margin: 62px auto 0 auto;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 3em;
    font-weight: 500;
    padding: 29px 0px;
    border-top: 2px solid hsl(197, 13%, 24%);
    border-bottom: 2px solid hsl(197, 13%, 24%);
    color: black;
}

h2 {
    font-family: 'Raleway', Arial, sans-serif;
    color: black;
    font-size: 2em;
    padding-top: 10px;
    margin-top: 37px;
    text-align: center;
}

img.profilepic {
  border-radius: 75px 0px;
}


@media screen and (max-width: 1000px){

  .box{
    height: 463px;
    width: 317px;
    margin: 16px 29px 0 17px;
  }

  section{
    width:90%;
  }

}

@media screen and (max-width: 320px){

  .box{
    height: 340px;
    width: 245px;
    margin: 16px 0 0 0;
  }

  section{
    width:90%;
  }

}
